name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
      working-directory: beta-fullstack-assignment/system_design/trading_bot_system
    - name: Run tests
      run: cargo test --verbose
      working-directory: beta-fullstack-assignment/system_design/trading_bot_system
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
